/* ==========================================================================
   Custom styles
========================================================================== */

/*
Etheya Digital Creativity Ltd
Brian Coult
http://www.etheya-digitalcreativity.com
*/

body  {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, serif;
  font-weight: 400;
  color: #848688;
  background: #000 url(/assets/img/layout/background.jpg) center 0 no-repeat
}

header {
  padding: 0;
  margin: 0 0 40px 0;
}

footer {
  z-index: 0;
  padding: 50px 0 60px 0;
   margin-top: -40px;
  background: url(/assets/img/layout/footer-bg.jpg) center top no-repeat;
}

.main {
  margin-bottom: 80px;
}

.client {
  margin-top: 60px;

}
/* Logo */
/*****************************************/

.logo {
  margin: 60px 0 20px 0;
}

.new {
  position:absolute;
  top: 0; left: 0;
  height:45px ;
  width: 64px;
  background: url(/assets/img/icons/new.png) 0 14px no-repeat;
  z-index: 100
}


legend {
    color: #fff;
    border: none;
    margin-top: 30px;
}

.addinfo {
  margin-top: 30px;
}

/* Typography */
/*****************************************/

h1, h2, h3 {
  font-family: "museo-1","museo-2",sans-serif;
  clear: left;
  color: #fff;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  clear: both;
}

h2 {
  font-size: 24px;
  color: #d3d3d1;
  padding: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 18px;
  color: #e22564;
  margin-top: 4px;
  margin-bottom: 8px;
}

h4 {

}

h1 small {
  font-size: 17px;
    text-transform: capitalize;

}

p {
  color: #848688;
}

ul {

}

li {
  margin: 0;
  padding: 0;
}

.badge {
  background-color: #e22564 ;
}

.spacer h2 {
  margin-bottom: 10px;
}

.spacer {
  margin-bottom: 40px;
}

/* Navigation */
/*****************************************/


.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  font-family: "museo-1","museo-2",serif; font-weight: 300;
  font-size: 19px;
}


.navbar-inverse {
  background: transparent;
  border: none;
  text-align:center;
}


.nav > li > a {
  padding: 10px 12px;
}

/*.navbar-inverse .navbar-nav > li > a {
  color: #878787;
}*/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .nright > a span:hover {
  background-color: transparent;
  color: #fff;
}


.navbar-inverse .navbar-nav > .nright > a span {
    color: #e22564
}

.bcnav {
    margin-top: 10px;
  margin-bottom: 20px;
}


/* Sublist */
/*****************************************/
ul.sublist  {
  margin: 0 0 40px 0;
  list-style-type: none;
  padding: 0;
}

.sublist li {
}

.sublist li a:link,
.sublist li a:visited {
  padding: 6px 0 8px 0;
  display: block;
  color: #848688;
  border-bottom: 1px dotted rgba(132,134,136, .4);
}

.sublist li a:hover,
.sublist li a:visited:hover,
.sublist li.active a {
  color: #fff;
  text-decoration: none;
  border-bottom: #848688 1px dotted;
}


/*
p.caption     { font-style: italic; float: right; margin: -10px 40px 20px 0; position: relative; color: #6b888a; }
.blockquote         { line-height: 1.8em; padding-bottom: 6px; margin-bottom: 12px; font-style: italic;  }
.panel h2       { margin-top: 30px; clear: both;  }
.paginate     { position: relative; float: left; clear: both; margin-top: 20px; margin-bottom: 30px; }
.rssfeed      { background:url(/assets/img/icons/rfeed.png) 0 0 no-repeat; padding-left: 25px; }

p.caption.left    { float: left; margin-left: 20px;}
p.imagecaption,


/* Image styles */
/*****************************************/

img {
}

.insta img {
  margin-bottom: 10px;
  margin-top: 10px;
}

.main .pull-right {
  margin: 0 0 20px 30px;

}
.watermark {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 24px;
  background: transparent url(/assets/img/layout/mc-copy-fancy.png) center center no-repeat;
  z-index: 1100
}

/*.border {
  border: 8px solid;
  border-color: rgba(100,100,100, .2);
  margin: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
} */

.border:hover {
  border-color: rgba(100,100,100, .6);
}

/* ICONS */

i .fa {
  color: #fff
}

.fa-facebook-square,
.fa-facebook {
  color: #3b5998;
}
.fa-twitter-square,
.fa-twitter {
  color: #00acee;
}
.fa-linkedin-square {
  color: #0e76a8;
}
.fa-instagram {
  color: #3f729b;
}
.fa-gift {
  color: #8ba753;
}
.sicon .fa {
  margin-right: 4px
}

.fa-info-circle {
    color: #e22564;
}

i.fa-info-circle:hover {
    color: #fff;
    cursor: pointer;

}
i.fa-arrows {
  color: #fff;
}

i.fa-rss-square {
  color: #ff6600;
}


/* Links */
/*****************************************/

a:link,
a:visited {
  /*color: #9d3658;*/
  color: #fff;
}

a:visited:hover,
a:hover {
  text-decoration: none;
  color: #e22564;
}

.pagination a:link,
.pagination a:visited {
  color: #9d3658;
}

a:visited:hover,
a:hover {
  text-decoration: none;
  color: #e22564;
}


h2 a:link,
h2 a:visited {
  color: #d3d3d1;
}

h2 a:visited:hover,
h2 a:hover {
  color: #fff;
}

h3 a:link,
h3 a:visited {
  color: #9d8f69;
}

h3 a:visited:hover,
h3 a:hover {
  color: #9d8f69;
}

footer a:link,
footer a:visited {
  color: #676869
}
footer a:hover,
footer a:visited:hover {
  color: #fff;
}

.basket a:link,
.basket a:visited {
  color: #848688;
}

.basket a:visited:hover,
.basket a:hover {
  color: #fff;
}


/* Basket */
/*****************************************/

.basket {
  padding: 4px 10px;
  background: rgba(0,0,0, .5);
}

.basket p {
  padding: 0;
  margin: 0; }

.basketbuttons {
  margin-bottom: 80px;
}

.basketbuttons button {
  margin-bottom: 10px;
}

.discount {
  margin-bottom: 50px;
}

/* Rotator Image */
/*****************************************/

.rotator {
  margin-bottom: 40px;
}

.rotator section {
  padding: 0;
  position: absolute;
  top: 0; ;
}

.rotator p,
.mimage p {
  position: absolute;
  bottom: 0;
  right: 30px;
  padding: 2px 10px 4px 10px;
  font-style: italic;
  text-transform: capitalize;
  background: #000;
  margin: 0;
}

.block p {
  font-size: 22px;
  font-family: "museo-1","museo-2",sans-serif;

}

.block span {
  color: #fff;
}

/* Main Image */
/****************************************/

.mimage {
  margin: 0 0 40px 0;
}

/* Tuition */
/****************************************/

.tuition {
  margin: 10px 0;
  padding: 0;
}

.tuition .thumbnail {
  background: none;
  border: none;
  padding-right: 20px
}

.tuition span {
  color: #fff;
  font-size: 2em;
}

.tuition form {
  margin: 30px 0 0 0;
}

/* Portfolio */
/****************************************/
.portfolio .thumbnail {
  background: none;
  border: none;
  padding-right: 20px;
  min-height: 550px
}

.portfolio .thumbnail:hover img {
  border-bottom: 6px solid #e22564;
}

.portfolio .thumbnail:hover h3 {
  color: #fff;
}


.portsmall .thumbnail {
    min-height: 380px
}

.portfolio img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 6px solid #000;
}

.psearch {
  background: #020202;
  padding-bottom: 20px;
  margin: 10px 0;
}

.prints {
  margin-top: 10px;
}


.prints .thumbnail {
  background: none;
  border: none;
  min-height: 450px;
    margin: 0;
padding-bottom: 0;
}

.prints h2 {
  font-size: 18px;
  color: #646464;
  text-transform: capitalize;
}

.prints:hover h2 {
  color: #646464;
  color: rgba(255,255,255, .9);
}

.prints .thumbnail img {
  /*width: 100%;
  max-width: 100%;
  height: auto;*/
}

.printimage img {
  margin-bottom: 20px;
}

.prints .thumbnail .caption {
    padding: 0;
    text-transform: capitalize;

}

.like {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}

.fb-like {
  margin-right: 5px;
}
.thumbnail .caption p{

}


/* News */
/****************************************/

.news {
  margin: 10px 0;
  padding: 10px 20px 20px 20px;
  border-bottom: 6px solid rgba(100,100,100, .2);
}

.news:hover {
  background: rgba(100, 100, 100, .15);
}

.pages {
  margin-top: 22px;
  margin-bottom: 40px;
  text-align: right;
}



/* Commissions */
/****************************************/

.commission {
  margin: 10px 0;
  padding: 0;
}

.commission .thumbnail {
  background: none;
  border: none;
  padding-right: 20px;
}

.commission img {
  margin-left: 10px;
}

.com-image img {
  margin-top: 20px;
  margin-bottom: 10px;
}




/* Forms */
/****************************************/

label {
  font-weight: normal;
}

.contactform {
  margin-bottom: 40px;
}

.addbasket {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Modals */
/****************************************/

.modal {
    background: rgba(0,0,0,.4)
}

.modal-content {
    background: #000;
}

.modal-content img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content h2 {
    margin-top: 40px;

}


/* Tables */
/****************************************/

.table {
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: capitalize;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #1c1e1f;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #1c1e1f;
}


/* Buttons */
/****************************************/

.log button {
  margin-top: 20px;
}

.btn-default {
  background: #555555;
  border: #555555;
  color: #fff
}

.btn-primary {
  background: #e22564;
  border: #e22564
}


.btn[disabled] {
background: #333;
color: #fff;
}


@media screen and (max-width: 1024px) {
      .prints .thumbnail {
        min-height: 380px;
      }
   }

@media screen and (max-width: 768px) {
      footer p {
        text-align: center;
      }
      .prints .thumbnail {
        min-height: 300px;
      }

   }

@media screen and (max-width: 420px) {
      .pages {
        text-align: left;
        margin-top: -10px
      }
      .portfolio .thumbnail {
        padding-right: 0px;
        min-height: 100px;
      }
      .prints .thumbnail {
        padding-right: 0px;
        min-height: 100px;
      }
      .prevnext {
        margin-bottom: 10px;
      }
      .navbar .nav,
      .navbar .nav > li {
        float:left;
        font-family: "museo-1","museo-2",serif; font-weight: 300;
        font-size: 15px;
      }
      .navbar-inverse {
         background-color: #080808;
        border-color: #080808;
        border: none;
        text-align:left;
      }
      .prints .thumbnail {
        min-height: 300px;
      }
   }

